{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.a4e10815.css' | asset_url }}" media="print" onload="this.media='all'">
		  <div style="opacity:0" class="sc-jJoQJp bATEBn __pf" id="__pf"><div data-pf-type="Body" class="sc-evcjhq leJfDA pf-1_"><div data-pf-type="Layout" class="sc-ctqQKy hrYNC pf-2_"><div data-section-id="pf-2a88" data-pf-type="Section" class="sc-uojGG cmSGgF pf-3_ pf-bg-lazy"><div class="sc-ilfuhL bpQaoh"><div class="sc-ikJyIC iIcPdk pf-4_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-5_"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-6_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-8_">The Valencia Advantage</span></h3><p class="sc-xiLah fvOkQT pf-9_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-11_">Our Standard and Commitment</span></p><div class="sc-ikJyIC iIcPdk pf-12_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-13_"><div data-pf-type="Custom.HTML" class="sc-jQrDum heCnGO pf-14_"><script async src="https://www.googletagmanager.com/gtag/js?id=UA-131085186-2"></script>

<script src="https://checkout.getbread.com/bread.js" data-api-key="09fb51d5-4764-412b-ba13-4d22914b221b"></script>

            
<style>
.bread-promo {
    height: 500px;
    width: 200px;
    background: #296390;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-family: 'Avenir Next';
    font-display: swap;
    font-weight: 500;
    line-height: 50px;
    transition: all .5s ease;
    border-radius: 5px;
    display: block;
  	margin: 0px 10px 190px 0% !important;
}
.bread-promo:hover {
 background: #999;
}
</style>

<div class="product__price">
  <div class="bread-promo bread-modal-button" data-custom=true data-button-location="financing">
    <div>Get My Rate</div>
          {% if product.tags contains 'customizer' %}
          <!-- <p class="summary">Main Color: <span>Black</span></p> -->
          <div class="hide-widescreen">

            <div class="paybright-promo" data-custom="true" data-button-location="product">Financing Available</div>
          
             
            <div class="paybright-promo" data-custom="true" data-button-location="financing">GET MY RATE</div>
          </div>
          {% else %}

          {% if product.tags contains 'accessory' %}

          {% else %}
         
            <div id="paybright-widget-container"></div>        

          {% endif %}
          {% endif %}
        </div>
            
</div>

</div> </div></div></div></div></div></div>

<div class="pf-c pf-sm-hide pf-hide" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-15_ pf-sm-hide pf-hide"></div></div></div></div></div><div data-section-id="pf-f774" data-pf-type="Section" class="sc-uojGG cmSGgF pf-16_"><div style="--cw:1170px" class="sc-ilfuhL bpQaoh"><div class="sc-ikJyIC iIcPdk pf-17_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-18_"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-19_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-21_">Financing Available</span></h3><p class="sc-xiLah fvOkQT pf-22_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-24_">Here at Valencia we provide easy and affordable financing through our partner, Bread. Comfortably afford your premium home theater seating using Bread’s easy payment plan.&nbsp;<br><br>Contact a Bread specialist today: <a href="mailto:support@getbread.com?subject=Financing&amp;body=...">support@getbread.com</a></span></p></div></div></div>

<div class="sc-ikJyIC iIcPdk pf-25_ pf-r pf-r-eh pf-sm-hide pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-26_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-27_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-29_">Easy and Quick Sign Up</span></h3><div data-pf-type="Divider" class="sc-eLwHnm livxj pf-30_"></div><p class="sc-xiLah fvOkQT pf-33_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-35_"><span style="color: rgb(87, 86, 86);"><br>1. Select Bread at check out.<br>2. Select your plan. Check out with instalments or SplitPay.<br>3. Receive your luxury home theater seating!</span></span></p></div></div>

<div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-36_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-37_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-39_">Affordable Monthly Plans</span></h3><div data-pf-type="Divider" class="sc-eLwHnm livxj pf-40_"></div><p class="sc-xiLah fvOkQT pf-43_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-45_">• Straightforward transparent terms - no payment penalties, no deferred interest.<br>• Automatic payments - have the flexibility to change your due date if needed.<br>• Quick & simple - gain approval in seconds.<br>• Not a credit card - always know how much you’ll pay.</span></p></div></div></div>

<div class="sc-ikJyIC iIcPdk pf-46_ pf-r pf-r-eh pf-lg-hide pf-md-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-47_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-48_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-50_">Easy and Quick Sign Up</span></h3><div data-pf-type="Divider" class="sc-eLwHnm livxj pf-51_"></div><p class="sc-xiLah fvOkQT pf-54_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-56_"><span style="color: rgb(68, 68, 68);"><br>1. Select Bread at check out.<br>2. Select your plan. Check out with instalments or SplitPay.<br>3. Receive your luxury home theater seating!</span></span></p></div></div>

<div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-57_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-58_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-60_">Affordable Monthly Plans</span></h3><div data-pf-type="Divider" class="sc-eLwHnm livxj pf-61_"></div><p class="sc-xiLah fvOkQT pf-64_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-66_">• Straightforward transparent terms - no payment penalties, no deferred interest.<br>• Automatic payments - have the flexibility to change your due date if needed.<br>• Quick & simple - gain approval in seconds.<br>• Not a credit card - always know how much you’ll pay.</span></p></div></div></div>

<div class="sc-ikJyIC iIcPdk pf-67_ pf-r pf-r-eh pf-sm-hide pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-68_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-69_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-71_">Quick Application</span></h3><div data-pf-type="Divider" class="sc-eLwHnm livxj pf-72_"></div><p class="sc-xiLah fvOkQT pf-75_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-77_">Get a decision in seconds with no obligation to buy. Checking your rate won’t affect your credit score. Simply opt for Bread at checkout and easily sign up in seconds!
</span></p></div></div>

<div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-78_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-79_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-81_">Pay in monthly instalments with Bread</span></h3><div data-pf-type="Divider" class="sc-eLwHnm livxj pf-82_"></div><p class="sc-xiLah fvOkQT pf-85_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-87_">Simply opt for instalment payments OR SplitPay with rates starting at 0% APR!</span></p><img src="https://s36161.pcdn.co/wp-content/themes/bread/dist/images/Logo.svg" loading="lazy" data-pf-type="Image" class="sc-GEbAx hdezgK pf-88_"/></div></div></div>

<div class="sc-ikJyIC iIcPdk pf-89_ pf-r pf-r-eh pf-lg-hide pf-md-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-90_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-91_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-93_">Quick Application</span></h3><div data-pf-type="Divider" class="sc-eLwHnm livxj pf-94_"></div><p class="sc-xiLah fvOkQT pf-97_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-99_">Get a decision in seconds with no obligation to buy. Checking your rate won’t affect your credit score. Simply opt for Bread at checkout and easily sign up in seconds!</span></p></div></div>

<div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-100_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-101_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-103_">Pay in monthly instalments with Bread</span></h3><div data-pf-type="Divider" class="sc-eLwHnm livxj pf-104_"></div><p class="sc-xiLah fvOkQT pf-107_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-109_">Simply opt for instalment payments OR SplitPay with rates starting at 0% APR!</span></p><img src="https://s36161.pcdn.co/wp-content/themes/bread/dist/images/Logo.svg" loading="lazy" data-pf-type="Image" class="sc-GEbAx hdezgK pf-110_"/></div></div></div></div></div>

<div data-section-id="pf-c76d" data-pf-type="Section" class="sc-uojGG cmSGgF pf-111_ pf-bg-lazy"><div class="sc-ilfuhL bpQaoh"><div class="sc-ikJyIC iIcPdk pf-112_ pf-bg-lazy pf-r" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-fHeRUh hpWXZa pf-113_"><h3 data-pf-type="Heading" class="sc-jUosCB gcYDfN pf-114_"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-116_"><span style="color: rgb(255, 255, 255);">Questions?</span></span></h3><div data-pf-type="Divider" class="sc-eLwHnm livxj pf-117_"></div><p class="sc-xiLah fvOkQT pf-120_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-122_"><sub></sub><span style="color: rgb(255, 255, 255);">Check Bread's<span style="background-color: rgb(41, 99, 144);"> <a href="https://www.breadpayments.com/help-center/" target="_blank" style="font-weight: bold; font-style: italic;">FAQ</a> </span>or reach Bread directly at support@getbread.com or (844) 992-7323 ext. 1.</span></span></p><p class="sc-xiLah fvOkQT pf-123_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-gyElHZ fxaypC pf-125_">** Subject to approval of credit application. Rates range from 5.99% to 29.99% APR, resulting in, for example, 18 monthly payments of $60.05 at 9.99% APR, per $1,000 borrowed. APRs will vary depending on credit qualifications, loan amount, and term. <br/>Bread® pay-over-time plans are loans made by Comenity Capital Bank.</span></p></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.16.1","shopDomain":"valencia-theater-seating.myshopify.com","elementData":{},"pageTitle":"financing-canada","pageType":"page","pageId":"a4e10815-eea0-4899-889b-2fba33bc4026","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{"Poppins":{"300":0,"400":0,"500":0,"bold":0},"Source Sans Pro":{"400":0}},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.16.1/core/helper.js" async></script>{% schema %}
{
  "name": "PageFly Page a4e10815",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=a4e10815-eea0-4899-889b-2fba33bc4026)."
    }
  ]
}
{% endschema %}