<style>
  .page-width > div{
  	align-items: center;
  }
</style>
<div id="comfort-index">
  {% section 'comfort-index-slideshow' %}
  <div class="page-width">
    <div style="min-height:40vh;display:flex;flex-direction:column;justify-content:center;">
      <h2 class="comfort-index-title">What is Comfort?</h2>
      <p class="comfort-index-intro-para">Comfort is defined as a state of physical ease and freedom from pain or constraint. In order to obtain the highest level of comfort needed to eliminate overall stress, we must start with our bodies. As we age, experiencing joint and muscle pain is inevitable for the majority. Our posture begins to slowly slouch, which ultimately leads to the inability to sit for long periods of time.</p>
    </div>
    <div style="margin:35px 0px;min-height:50vh;display:flex;flex-direction:column;justify-content:space-evenly;">
      <h2 class="comfort-index-title">Solution</h2>
      <p class="comfort-index-intro-para">Crafting a home theater chair that caters to every and all body shapes and sizes, without resulting in circulation-restricting pressure, is an art form. Luckily, here at Valencia Theater Seating, we have mastered that. Creating a chair that advances topographical neutrality -  which allows for an array of different pressure distributions - is vital in producing the ultimate home theater chair. Essentially, we all sit similarly, but pressure intensity varies based on body size. With this in mind, we have engineered a chair optimizing the structure and material to provide dynamic support. This ultimately results in the customer’s body to dictate pressure distribution, rather than the chair.</p>
      <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/body-mass.jpg?v=1615236310" alt="Comfort Index Score"/>    
      <p class="comfort-index-intro-para">We sampled over 1,000 people - ranging from all different body shapes and sizes - to produce a theater chair that not only looks great, but feeds your comfort needs. For example;  our study for The Tuscany concluded that 980/1000 participants had an overwhelmingly positive experience. Naturally, we are not able to make every body happy, but we have achieved the highest result due to continuous scientific improvement and progress.</p>
    </div>
    <div style="margin-top:35px;min-height:50vh;display:flex;flex-direction:column;justify-content:space-evenly;">
      <p class="comfort-index-intro-para">This is what we call The Comfort Index. <b>Creating the perfect balance </b>between foam, materials, and design, our chairs aid beautifully in the most important areas of comfort: <b>pressure distribution, ergonomics, material resiliency</b> and <b>posture support.</b></p>      
      <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/research.jpg?v=1615236308" alt="Comfort Index Research" />    
    </div>
  </div>
  <!--     <div style="margin-top:35px;height:80vh;display:flex;flex-direction:column;justify-content:space-evenly;">
<h2 class="comfort-index-title">Valencia aimed and achieved the utmost level of excellence in all four categories.</h2>
<p class="comfort-index-intro-para">Each of our models have been constructed with these 4 key principles in mind:</p>
</div>
</div>  -->
  <div class="page-width">
    <h2 class="comfort-index-title">Valencia aimed and achieved the utmost level of excellence in all four categories.</h2>
    <p class="comfort-index-intro-para">Each of our models have been constructed with these 4 key principles in mind:</p>
    <ul class="comfort-index-section">
      <li class="full-section">
        <div>
          <h3>Pressure Distribution</h3>
          <!--        <h3>Chair Contour</h3> -->
          <p>Our research has revealed the closest percentile to perfection in distribution of pressure. People of all shapes and sizes concluded an incredibly positive response to our chair’s comfort design.</p>
        </div>
        <img style="margin:40px 0px;" src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/Pressure-distribution.png?v=1615236309" />
      </li>
      <li class="full-section">
        <img style="margin:40px 0px;" src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/ergonomics.png?v=1615236306" />
        <div>
          <h3>Ergonomics</h3>
          <!--     <h3>Musculoskeletal Support</h3> -->
          <p>Using the principles of design and construction, each of our home theater chair models have been tested and scored with heavy consideration on ergonomic and musculoskeletal support.</p>
        </div>
      </li>  
      <li>
        <div>
          <h3>Material Resiliency</h3>
          <!--        <h3>Material Bounce Back</h3> -->
          <p>Testing the bounce back on the material, a high resiliency score not only signals superior relaxation for the user, it also signals a chair’s overall comfort longevity.</p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/material-resiliency.jpg?v=1615236309" />
      </li>
      <li>
        <!--        <h3>Joint Impact</h3> -->
        <div>
          <h3>Postural Support</h3>
          <p>We have collected ample data on the benefits of postural support. Our results have been translated into our home theater chairs to produce the level of comfort your knees, hips and back are looking for.</p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/postural-support.png?v=1615236306" />

      </li>
    </ul>
  </div>
  <!--   {% section 'comfort-index-hero' %} -->
  <div class="comfort-index-gallery-holder page-width" style="margin:25px auto;">
    <p class="comfort-index-intro-para">Our home theater chairs reflect contemporary trends, are beautifully designed and provide superior comfort.  We have sold thousands of luxury home theater seats since the brand launched.</p>
    <div class="comfort-index-gallery">
      <div class="comfort-index-gallery-copy">
        <p>The Comfort Index was developed using both qualitative and quantitative data from a series of in-depth customer questionnaires and interviews. 
          The research conducted considered factors such as distribution of pressure, bio-mechanical comfort, ergonomics, and 17 other data points. </p>
      </div>
      <div class="comfort-index-gallery-slider">
        <ul id="lightSlider-comfort">
          <li>
            <a href="../products/valencia-tuscany">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-tuscany.jpg?v=1615243417" alt="Comfort Index Score" />
            </a>
          </li>
          <li>
            <a href="../products/oslo">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-oslo.jpg?v=1615243417" alt="Comfort Index Score" />
            </a>
          </li>
          <li>
            <a href="../products/valencia-tuscany-xl">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-tuscany-xl.jpg?v=1615243417" alt="Comfort Index Score" />
            </a>
          </li>
          <li>
            <a href="../products/oslo-xl">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-oslo-xl.jpg?v=1615243417" alt="Comfort Index Score" />
            </a>
          </li>
          <li>
            <a href="../products/valencia-tuscany-console">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-tuscany-dropdown-ceneter.jpg?v=1615243417" alt="Comfort Index Score" />
            </a>
          </li>
          <li>
            <a href="../products/oslo-console-edition">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-oslo-dropdown-center.jpg?v=1615243417" alt="Comfort Index Score" />
            </a>
          </li>
          <li>
            <a href="../products/valencia-zurich">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-zurich.jpg?v=1615243417" alt="Comfort Index Score" />
            </a>
          </li>
<!--           <li>
            <a href="../products/valencia-tuscany">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-score-budapest.jpg?v=1612868440" alt="Comfort Index Score" />
            </a>
          </li> -->
          <li>
            <a href="../products/venice">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-Venice.jpg?v=1615243417" alt="Comfort Index Score" />
            </a>
          </li>
          <li>
            <a href="../products/piacenza-power-headrest">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-piacenza.jpg?v=1615243417" alt="Comfort Index Score" />
            </a>
          </li>
          <li>
            <a href="../products/verona-power-headrest">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-verona.jpg?v=1615243417" alt="Comfort Index Score" />
            </a>
          </li>
<!--           <li>
            <a href="../products/valencia-tuscany">
              <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/comfort-index-score-bern.jpg?v=1612868440" alt="Comfort Index Score" />
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="page-width feature-row">

    <!--     <div class="comfort-index-score">
</div> -->

  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#lightSlider-comfort").lightSlider({
        item: 1,
        autoWidth: false,
        slideMove: 1, // slidemove will be 1 if loop is true
        slideMargin: 10,

        addClass: '',
        mode: "slide",
        useCSS: true,
        cssEasing: 'ease', //'cubic-bezier(0.25, 0, 0.25, 1)',//
        easing: 'linear', //'for jquery animation',////

        speed: 400, //ms'
        auto: false,
        loop: false,
        slideEndAnimation: true,
        pause: 2000,

        keyPress: false,
        controls: true,
        prevHtml: '',
        nextHtml: '',

        rtl:false,
        adaptiveHeight:false,

        vertical:false,
        verticalHeight:500,
        vThumbWidth:100,

        thumbItem:10,
        pager: true,
        gallery: false,
        galleryMargin: 5,
        thumbMargin: 5,
        currentPagerPosition: 'middle',

        enableTouch:true,
        enableDrag:true,
        freeMove:true,
        swipeThreshold: 40,

        responsive : [],

        onBeforeStart: function (el) {},
        onSliderLoad: function (el) {},
        onBeforeSlide: function (el) {},
        onAfterSlide: function (el) {},
        onBeforeNextSlide: function (el) {},
        onBeforePrevSlide: function (el) {}
      });
    });
  </script>

  <!--   <div class="comfort-index-score">
<h3>According to 100 Users Opinion</h3>
<div>
<h2>Pressure Distribution</h2>
<h2>Postal Stress</h2>
<h2>Material Resiliency</h2>
<h2>Ergonomics</h2>
</div>
</div> -->

</div>
