<div class="accessory-page-container">
<h1>{{ page_title }}</h1>
<p>{{ page_description }}</p>
<div id="accessory-page">
  {% section 'featured-accessory-two' %}
    {% section 'featured-accessory-three' %}
  {% section 'featured-accessory-four' %}
    {% section 'featured-accessory-five' %} 
    {% section 'featured-accessory-one' %}
  {% section 'featured-accessory-six' %}
  {% section 'featured-accessory-seven' %}
  
  {% section 'featured-accessory-eight' %}
  {% section 'featured-accessory-nine' %}

  {% section 'featured-accessory-ten' %}
{% section 'featured-accessory-eleven' %}
  <!-- { 'featured-accessory-five' %} 
   { 'featured-accessory-one' %} 
  {'featured-accessory-three' %}
-->

</div>
</div>