<style>
  html {
  scroll-behavior: smooth;
}
</style>
<div class="collections-page">
  {% section 'm-hero' %}
        {% section 'm-mobile' %}
{% section 'collections-all' %}
{% section 'collections-all-5' %}
{% section 'collections-all-3' %}
{% section 'collections-all-4' %}



</div>