<div class="build-your-own">
  <h2><span style="font-weight:600">Customize Your Dream Home Theater Seating</span></h2>
  <p>{{ page_description }}</p><br/>
  <div><a href="https://cdn.shopify.com/s/files/1/0186/9447/1744/files/220302_Leather_Swatch_Collections-compressed.pdf?v=1646285189" target="_blank" rel="noopener noreferrer">
    <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/leatherswatchguide_1.jpg?v=1652480019" width="200" height="50">
    </a><br/>
    <a href="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/220504_20k_Leather_Swatch_Collections_V2_Final.pdf?v=1652479795" target="_blank" rel="noopener noreferrer">
    <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/leatherswatchguide_3.jpg?v=1652480350" width="200" height="50">
    </a><br/>
    <p>If you would rather want to order a Valencia Theater Seating chair that is in stock and ships faster than our custom chairs, please check 
      <a href="https://us.valenciatheaterseating.com/pages/collections"><strong><u>here</u></strong></a> for our stocking collection</p>
  </div>
  <!-- 	  {% section 'customizer-collections' %} -->
<br>
 <br>
  <img src="https://cdn.shopify.com/s/files/1/0186/9447/1744/files/Thin_Banner.jpg?v=1669659338">
 <br>
 <br>

  <div class="product-selecter">
    <h2>    Premier Series    </h2>
    <ul>
      <li>
        <h3>Tuscany</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/tuscany_4b33de08-acd1-4a6c-b2fd-5320dec58749.jpg?v=1607739752" />

        <div>
          <!-- <a href="/products/tuscany-customizer">2D Customizer</a> -->
          <a href="/products/tuscany-3d" target="_blank">3D Customizer</a>
        </div>
      </li>
      <li>
        <h3>Oslo</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/oslo_4d2fedd8-35a4-4d15-ac15-233003414ddc.png" />
        <div>
          <!--  <a href="/products/oslo-1">2D Customizer</a> -->
          <a href="/products/oslo-3d" target="_blank">3D Customizer</a>

        </div>
      </li>
      <li>
        <h3>Zurich</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/zurich_bab22d1c-d87b-4151-a4f1-97ca5816031c.jpg" />
        <div>
          <!-- <a href="/products/zurich-customizer">2D Customizer</a> -->
          <a href="/products/zurich-3D" target="_blank">3D Customizer</a>

        </div>
      </li>
      <li>
        <h3>Oslo XL</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/oslo-xl-build.png" />
        <div>
          <!--           <a href="/products/valencia-oslo-theater-seating">2D Customizer</a> -->
          <a href="/products/oslo-xl-3d" target="_blank">3D Customizer</a>

        </div>
      </li>

      <li>
        <h3>Tuscany XL</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/tuscany-xl.jpg" />
        <div>
          <!-- <a href="/products/tuscany-xl">2D Customizer</a> -->
          <a href="/products/tuscany-xl-3d" target="_blank">3D Customizer</a>
        </div>
      </li>
      <li>
        <h3>Naples</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/naples-collection-img.jpg?v=1652973046" />
        <div>
          <!-- <a href="/products/tuscany-xl">2D Customizer</a> -->
          <a target="_blank" href="/products/naples-3d">3D Customizer</a>
        </div>
      </li>


    </ul>


    <h2>Multimedia Series</h2>
    <ul class="multimedia-customizer">
      <li>
        <h3>Oslo Console Edition</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/oslo-console-build.png?v=1608589157" />
        <div>
          <a href="/products/oslo-console-edition-3D" target="_blank">3D Customizer</a>
        </div>
      </li>
      <li>
        <h3>Oslo Dropdown Center</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/oslo-dropdown-center-build.png" />
        <div>
          <!-- <a href="/products/valencia-oslo-console-edition">2D Customizer</a> -->
          <a href="/products/oslo-dropdown-center-3d" target="_blank">3D Customizer</a>
        </div>
      </li>
      <li>
        <h3>Tuscany Console Edition</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/tuscany-console-build.png" />
        <div>
          <a href="/products/tuscany-console-edition-3d" target="_blank">3D Customizer</a>
        </div>
      </li>
      <li>
        <h3>Tuscany Dropdown Center</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/tuscany-dropdown-edition-build.png" />
        <div>
          <a href="/products/tuscany-dropdown-center-3d" target="_blank">3D Customizer</a>
        </div>
      </li>
      <li>
        <h3>Oxford Console Edition</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/Oxford_2_seater_Thumb_7fd14aed-af12-4060-acff-b877fb71efc4.jpg" />
        <div>
          <!-- <a href="/products/oxford-console-edition">2D Customizer</a> -->
          <a href="/products/oxford-console-edition-3d" target="_blank">3D Customizer</a>
        </div>
      </li>
      <li>
        <h3>Oxford Dropdown Center</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/Oxford_3_Seater_Thumb_66719a4c-216e-4cb1-9c45-c56278a44c9c.jpg?v=1608668196" />
        <div>
          <!-- <a href="/products/oxford-drop-down-center-edition">2D Customizer</a> -->
          <a href="/products/oxford-dropdown-center-3D" target="_blank">3D Customizer</a>
        </div>
      </li>
    </ul>
    <h2>Cinema Series</h2>
    <ul>
      <li>
        <h3>Verona</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/verona.png" />
        <div>
          <!-- <a href="/products/verona-customizer">2D Customizer</a> -->
          <a href="/products/verona-3D" target="_blank">3D Customizer</a>

        </div>
      </li>



      <li>
        <h3>Piacenza</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/piacenza-build.png" />
        <div>
          <a href="/products/piacenza-3d" target="_blank">3D Customizer</a>
        </div>
      </li>
      <li>
        <h3>Syracuse</h3>
        <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/syracusse-build.png" />
        <div>
          <!--           <a href="/products/oxford-customizer">2D Customizer</a> -->
          <a href="/products/syracuse-3d" target="_blank">3D Customizer</a>
        </div>
      </li>
    </ul>
  </div>
</div>