<style>
  html {
  scroll-behavior: smooth;
}
  .row {
  display: flex!important; 
  flex-wrap: wrap!important; !important
  padding: 0 4px!important; 
}

 .column {
  flex: 20%!important;
  max-width: 20%!important;
  padding: 0 4px!important;
} 

.column img {
  margin-top: 8px!important;
  vertical-align: middle!important;
  width: 50%!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%!important;
    max-width: 50%!important;
  }
}
</style>
<div class="collections-page">
<div class="scroll-horizontally-when-mobile" style="display:flex;flex-direction:column;max-width:1400px;padding:0;margin:1% auto;overflow:hidden">
  <div class="category-page-3smxlu">
    <div class="category-page-1rwpar5">
      <span class="category-page-1rei8k0">Fits for a king. </span>
      <span class="category-page-ib4brc">From Straight to Slim, we’ve got the jean for you.</span>
      <div><link rel="stylesheet" href="/Asset_Archive/ONWeb/content/0025/678/763/assets/vi-banner-with-vertical-titles.css?v=2"></div></div></div>
  <div class="category-page-3smxlu">
    <div class="mobile-scroll-width" style="display: flex; flex-direction: row;">
      <div class="category-page-3smxlu"><a class="vertical-text-feature category-page-14a7fuo" href="#pageId=0&amp;style=1161897&amp;banner=vi_denim_m_super_skinny_click"><img src="/Asset_Archive/ONWeb/content/0025/678/763/assets/210726_37_M2201_DenimVI_M_Site_VIBanner_SuperSkinny.jpg" alt="A model wears Super-Skinny style jeans with a button up plaid shirt over a grey t-shirt" class="category-page-8oysku">
        <div class="category-page-1u8qly9">Super-Skinny</div></a></div>
      <div class="category-page-3smxlu"><a class="vertical-text-feature category-page-14a7fuo" href="#pageId=0&amp;style=1036235&amp;banner=vi_denim_m_skinny_click"><img src="/Asset_Archive/ONWeb/content/0025/678/763/assets/210726_37_M2201_DenimVI_M_Site_VIBanner_Skinny.jpg" alt="A model wears Skinny style denim with a tan button-up shirt over a peach colored t-shirt" class="category-page-8oysku">
        <div class="category-page-1u8qly9">Skinny</div></a></div>
      <div class="category-page-3smxlu"><a class="vertical-text-feature category-page-14a7fuo" href="#pageId=0&amp;style=55506&amp;banner=vi_denim_m_slim_click"><img src="/Asset_Archive/ONWeb/content/0025/678/763/assets/210726_37_M2201_DenimVI_M_Site_VIBanner_Slim.jpg" alt="A model leans against a yellow colored stool wearing Slim style jeans, a denim jacket and striped top" class="category-page-8oysku">
        <div class="category-page-1u8qly9">Slim</div></a></div>
      <div class="category-page-3smxlu"><a class="vertical-text-feature two-lines category-page-14a7fuo" href="#pageId=0&amp;style=1088080&amp;banner=vi_denim_m_relaxed_slim_taper_click"><img src="/Asset_Archive/ONWeb/content/0025/678/763/assets/210726_37_M2201_DenimVI_M_Site_VIBanner_RelaxedSlimTaper.jpg" alt="A model wears Relaxed Slim Taper style denim and grey sweater" class="category-page-8oysku">
        <div class="category-page-1u8qly9">Relaxed Slim
Taper</div></a></div>
      <div class="category-page-3smxlu"><a class="vertical-text-feature two-lines category-page-14a7fuo" href="#pageId=0&amp;style=1182396&amp;banner=vi_denim_m_original_taper_click"><img src="/Asset_Archive/ONWeb/content/0025/678/763/assets/210726_37_M2201_DenimVI_M_Site_VIBanner_OriginalTaper.jpg" alt="A model wears Original Taper style denim and light green hoodie" class="category-page-8oysku">
        <div class="category-page-1u8qly9">Original
Straight Taper</div></a></div>
      <div class="category-page-3smxlu"><a class="vertical-text-feature category-page-14a7fuo" href="#pageId=0&amp;style=1050358&amp;banner=vi_denim_m_athletic_taper_click"><img src="/Asset_Archive/ONWeb/content/0025/678/763/assets/210726_37_M2201_DenimVI_M_Site_VIBanner_AthleticTaper.jpg" alt="A model leans against a yellow colored stool wearing Athletic Taper style jeans, and a blue denim shirt over a striped top" class="category-page-8oysku">
        <div class="category-page-1u8qly9">Athletic Taper</div></a></div>
      <div class="category-page-3smxlu"><a class="vertical-text-feature category-page-14a7fuo" href="#pageId=0&amp;style=5209&amp;banner=vi_denim_m_straight_click"><img src="/Asset_Archive/ONWeb/content/0025/678/763/assets/210726_37_M2201_DenimVI_M_Site_VIBanner_Straight.jpg" alt="A model wears Straight style jeans, a denim jacket over a white top" class="category-page-8oysku"><div class="category-page-1u8qly9">Straight</div></a></div>
      <div class="category-page-3smxlu"><a class="vertical-text-feature category-page-14a7fuo" href="#pageId=0&amp;style=5202&amp;banner=vi_denim_m_bootcut_click"><img src="/Asset_Archive/ONWeb/content/0025/678/763/assets/210726_37_M2201_DenimVI_M_Site_VIBanner_BootCut.jpg" alt="A model wears Boot-Cut style jeans and a white button-up shirt" class="category-page-8oysku"><div class="category-page-1u8qly9">Boot-Cut</div></a></div>
      <div class="category-page-3smxlu"><a class="vertical-text-feature category-page-14a7fuo" href="#pageId=0&amp;style=5205&amp;banner=vi_denim_m_loose_click"><img src="/Asset_Archive/ONWeb/content/0025/678/763/assets/210726_37_M2201_DenimVI_M_Site_VIBanner_Loose.jpg" alt="A model wears Loose style jeans, a white top and light blue hoodie over his shoulders" class="category-page-8oysku"><div class="category-page-1u8qly9">Loose</div></a>
      </div></div></div></div>
  
  
  <div class="row">
  <div class="column">
    <a href="#big-and-tall-series"><img src="https://cdn.shopify.com/s/files/1/0186/9447/1744/files/Big_And_Tall_Series.jpg?v=1637788868" width="150" height="250"></a>
  </div>
  <div class="column">
    <a href="#premier-series"><img src="https://cdn.shopify.com/s/files/1/0186/9447/1744/files/Premier_Series.jpg?v=1637788869" width="150" height="250"></a>
  </div>
  <div class="column">
    <a href="#cinema-series"><img src="https://cdn.shopify.com/s/files/1/0186/9447/1744/files/Cinema_Series.jpg?v=1637788868" width="150" height="250"></a>
  </div>
   <div class="column">
   <a href="#single-series"><img src="https://cdn.shopify.com/s/files/1/0186/9447/1744/files/Single_Recliner_Series.jpg?v=1637788868" width="150" height="250"></a>
  </div>
  <div class="column">
   <a href="#bespoke-series"><img src="https://cdn.shopify.com/s/files/1/0186/9447/1744/files/Bespoke_series.jpg?v=1637788868" width="150" height="250"></a>
  </div>
</div>
{% section 'collections-all' %}
{% section 'collections-all-3' %}
  {% section 'collections-all-5' %}
{% section 'collections-all-4' %}
</div>