<style>
  
  .page-container{
  	background:#f9f9f9 !important;
  }
@media (min-width: 768px){
  .vertical-text-feature{
    margin: 0 2.11%;
  }

  .vertical-text-feature > div{
    font-size: 1.923vw;
    letter-spacing: 0.08vw;
  }
}
@media (min-width: 1248px){
  .vertical-text-feature > div{
    font-size: 24px;
    letter-spacing: 1px;
  }
}
</style>
<div class="c">
  <div class="page-width">
  
<!--    <h1 style="text-align:center;margin-top:50px;">Valencia Tuscany Ultimate Collection</h1> -->
  {% section 'collections-naples-models2' %}

  </div>
</div>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header">
<!--         <h1>{{ page.title }}</h1> -->
      </div>

      <div class="rte">
<!--         {{ page.content }} -->
      </div>
    </div>
  </div>
</div>
